* {
    box-sizing: border-box;
    margin: 0;
    color: #15141A;
}
body {
    font-family: "Nunito", sans-serif;
}
input, select, option, button {
    font-family: inherit;
}
img {
    max-width: 100%;
    vertical-align: middle;
}
.big {
    background-color: #F8CF2C;
    min-height: 100svh;
    padding: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form {
    background-color: white;
    padding: 25px 22px;
    width: 560px;
    margin: 0 auto;
    border-radius: 12px;
}
.title {
    text-align: center;
    font-size: 24px;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.mini {
    display: inline-flex;
    align-items: center;
    gap: 5px;
}
.input, .select, .button {
    width: 100%;
    font-size: 17px;
}
.input, .select {
    margin-bottom: 10px;
    border: 1px solid gray;
    padding: 6px;
    border-radius: 4px;
}
.input::placeholder {
    color: #33515592;
}
.select {
    color: #335155;
}
.inp {
    width: 20px;
    height: 20px;
}
.label, .labl {
    display: inline-block;
    font-size: 18px;
    color: #335155;
}
.label {
    margin-bottom: 3px;
}
.button {
    border: none;
    background-color: #AB202A;
    color: white;
    padding: 8px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
}
.radiobox {
    margin-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 35px;
}
.gender {
    font-size: 20px;
    margin-bottom: 3px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}
.col {
    width: 49%;
}

@media screen and (max-width: 600px) {
    .big {
        align-items: flex-start;
        padding: 20px;
    }
    .row {
        flex-direction: column;
    }
    .col {
        width: 100%;
    }
    .radiobox {
        flex-direction: column;
        gap: 10px;
    }
    .gender {
        margin-bottom: 5px;
    }
    .form {
        border-radius: 10px;
        padding: 20px 18px;
    }
}
@media screen and (max-width: 400px) {
    .big {
        padding: 10px;
    }
    .form {
        padding: 15px;
    }
}